header {
    background-image: url(../src/black-pattern-background.jpg);
    padding-top: 10%;
    padding-bottom: 25%;
    height: 120%;
    background-color: black;
    color: white;
    font-weight: 1200;
    background-repeat: no-repeat;
    background-size:contain;
  }
  .divhead {
  
    max-width: 50%;
    margin: 2% 0 0 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 15px;
  }
  
  .carImg{
    width: 700px;
    margin-left: 750px;
    top: 250px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
   
    position: absolute;
    
  
    
  }

  
  .carImgContainer{
   
  }
  
  
  .carTitle {
    color: white;
    letter-spacing: 10px;
    left: 150px;
    text-align: left;
    font-weight: bolder;
    position: absolute;
    top: 350px;
    font-size: larger;
   }
  .P {
    color: white;
    margin-top: 2.5%;
    line-height: 50px;
    position: absolute;
    margin-right: 800px;
  }
  .homecar{
    display: block;
    background-color: rgba(255, 255, 255, 0.929);
    width: 190vb;
    height: 146px;
    position: absolute;
    top: 400px;
    box-shadow: 0px 9px 30px rgba(162, 182, 255, 0.484);
  }
  .Phomecar{
    color: black;
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
   margin-right: 720px;
   font-size: small;
  }
  