
body {
  font-family: Arial, Helvetica, sans-serif;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  
}
.con2{
    width: 100px;
    height: 100px;
    background-color: black;
}



/* style the container */
.container {
  
  display: flex;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
  padding-top: 157px;
  padding-bottom: 250px;
  width: auto;
  height: auto;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
} 
.container2{
    margin-left: 30%;
    margin-right: 10%;
    width: fit-content;
   padding: 5%; 
   background: rgb(0,0,0);
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.326) 0%, rgba(0,0,0,1) 52%, rgba(0, 0, 0, 0.37) 100%);
   height: 50%;
   border-radius: 25px;
   padding-right: 25%%;
}



.row{
    width: 100%;
    margin-left: 50%;
}



/* style inputs and link buttons */
input,.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */


.btn{
    text-decoration: none;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;}

.col{width: 100%;}
  

