

body {
  font-family: Arial, Helvetica, sans-serif;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  
}
.con2{
    width: 100px;
    height: 100px;
    background-color: black;
}



/* style the container */


.container {
  
  justify-content: center;
  display: flex;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
  padding-top: 157px;
  padding-bottom: 250px;
  width: auto;
  height: auto;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
} 
.container2{
    margin-left: 30%;
    margin-right: 10%;
    width: fit-content;
   padding: 5%; 
   background: rgb(0,0,0);
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.326) 0%, rgba(0,0,0,1) 52%, rgba(0, 0, 0, 0.37) 100%);
   height: 50%;
   border-radius: 25px;
   padding-right: 25%%;
}



.row{
    width: 100%;
    margin-left: 50%;
}

.row2{
  width: 100%;
  margin-left: 55%;
}

/* style inputs and link buttons */
input,.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */




.col{width: 100%;}
  

.btn {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
  transition:all ease-in-out 0.3s ;
}

.btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  
transform: scaleX(1.1055);
}

.hoho{
  margin-left: 150px;
}

